.down {
  background-color: #666666;
}
body {
  font-size: 16px;
  font-family: "Lato";
  margin: 0;
  color: #666666;
  position: relative;
}
.container {
  background-color: #f5f5f5;
  /*padding: 0;*/
}

/* Navigation */

.navigation {
  height: 4.9em;
  background-color: #202020;
  z-index: 10000;;;;
  display: flex;
  position: fixed;
  width: inherit;
}
.brand p , h1 {
  display: inline-block;
  color: white;
}
.brand h1 {
  position: relative;
  font-size: 2em;
  font-family: "Open Sans";
  color: rgb(238, 243, 240);
  font-weight: bold;
  left: 1.19em;
  top: .5em;
  margin: 0;
}
.title-arrow {
  position: absolute;
  top: 3.3em;
  left: 9.6em;
}
.brand p {
  position: absolute;
  top: 3.7em;
  font-size: .75em;
  font-family: "Open Sans";
  color: rgb(238, 243, 240);
  left: 15.5em;
}
#navibar {
  padding-left: 10%;
}
.nav {
  margin: 0;;
}
.nav li {
  display: inline-block;
  font-size: .875em;
  font-family: "Open Sans";
  color: white;
  position: relative;
}
.nav li a {
  text-decoration: none;
  color: white;
  padding: 1.92em;;
}
.nav li a:hover, .nav li a:focus {
  background-color: #fe8300;
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs li.active a, .nav-tabs li.active a:hover {
  border: 1px solid #666666;
  background-color: #666666;
  color: white;
}
.nav-tabs li a:hover {
  border: #ff8400;
}
.btn-default:hover,.open>.dropdown-toggle.btn-default {
  background-color: #ff8400;
  border-color: #ff8400;
  border:5px auto #ff8400;
  color: white;
}
#menuCollapse li {
  list-style: none;
  margin-top: .25em;
}
#menuCollapse a {
  color: inherit;
}
.menuCollapseBtn {
  margin-top: 1.5em;
}
.collapse li:hover{
  color: #ff8400;
}
.anchor {
  padding-top: 90px;
}

/* Navigation Media Queries */

@media screen and (max-width: 768px) {
  .navigation {
    width: 100%;
  }
  .menuCollapseBtn {
    margin-left: 0;
  }
}

@media screen and (max-width: 580px) {
  .title-arrow {
    display: none
  }
  .brand h1 {
    font-size: 1.75em;
    left: 0;
  }
  .brand p {
    position: absolute;
    top: 3em;
    left: 1.6em;
  }
  .brand {
    display: flex;
    justify-content: space-between;
  }
  .menuCollapseBtn {
    margin-left: 0;
  }
  .collapse, .collapsing, .collapse.in {
    position: relative;
    left: -4.1em;
    width: 8em;
  }
}

/** Header **/

#header {
  position: relative;
  background-image: url("../images/header-bg.png");
  background-size: cover;
  height: 40em /* 997px */;;;
}
.header-desc {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 14em;
}
#header p {
  font-size: 1.125em;
  color: white;
  margin: 0;
}
#header p:nth-child(2) {
  font-size: 2em;
  color: #fe8300;
  font-family: "Open Sans";
  font-weight: bold;
}

/** Content Area **/

#content {
  position: relative;
  width: 85% /* 747.75px */;
  margin: auto;
  margin-top: -3.5em;
  background-color: white;
  border-top: 3px solid #ff8400;
}
.top-border {
  display: block;
  position: relative;
  border-top: 1px solid #eef3f0;
  width: 95%;
  left: 2.5%;
  margin-top: 2.5em;
}

/* Section 1 Area */

#section1 {
  position: relative;
  padding-bottom: 1em;
  margin-top: 3em;;
}
.what-i-do {
  position: relative;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  margin-bottom: 5em;
}
.view-more-btn {
  margin: auto;
}
.row2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.row2 div {
  width: 40%;
}
#section1 h1 {
  position: relative;
  font-size: 1.25em;
  font-weight: bold;
  color: #666666;
}
#section1 p {
  position: relative;
}
.view-more-btn , .view-work-btn {
  position: relative;
  display: block;
  border-radius: 5px;
  background-color: rgb(32, 32, 32);
  width: 7.5em;
  height: 2.5em;
  color: white;
  font-size: .6875em;
  text-decoration: none;
  text-align: center;
  line-height: 2.5em;
}

/* Section 1 Media Queries */

@media screen and (max-width: 992px) {
  #section1 {
    display: block;
    padding-bottom: 0;
  }
  #section1 div {
    display: block;
    width: 80%;
    margin: auto;
    padding-top: 3em;
    margin-bottom: 3em;
  }
  #section1 div:first-child {
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
  }
  #section1 div:last-child {
    margin-bottom: 0;
  }
}

/* Section 2 Area */

#section2 {
  position: relative;
  margin-bottom: 2em;
  margin-top: 3em;
  padding-bottom: 5em;
}
#section2 h1 {
  font-weight: bold;
}
.my-work {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  margin-bottom: 4.5em;;;;
}
.my-work-title {
  position: relative;
  font-size: 1.25em;
  color: #666666;
}
.my-work-desc {
  position: relative;
}
.projects {
  width: 40%;
  margin: auto;
  margin-top: 4em;
  height: 20em;;
}
.owl-carousel {
  width: 75%;
  margin: auto;
  margin-top: 3em;
  padding-bottom: 6em;
}
.projects-bg {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  border: 2px solid #ccc;
  padding: 3em 0 3em 0;
}
.projectImg {
  position: relative;
  box-shadow: 0 8px 6px -6px #777;
  z-index: 1;
}
.openModal {
  text-decoration: none;
}
.img-wrap {
  position: relative;
  background-color: black;
  display: inline-block;
  line-height: 0;
  z-index: 2;
}
.modalImg:hover {
  opacity: .4;
}
.carousel-inner,.carousel,.item,.fill {
  height: 100%;
  width: 100%;
  max-width: 27em;
  margin: auto;
}
.carousel-indicators li {
  border: 1px solid black;
}
.carousel-indicators li.active {
  background-color: #ff8400;
}
.carousel-inner .item a img {
  height: 100%;
  width: 100%;
  margin: auto;
}

/* Section 2 Media Queries */

@media screen and (max-width: 992px) {
  #section2 {
    display: block;
  }
  .my-work {
    width: 80%;
    margin: auto;
  }
  .my-work-desc {
    width: 100%;
  }
  .projects {
    width: 80%;
    margin: auto;
    margin-top: 3em;
  }
  .slider {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .left-slider-btn {
    margin-left: 71%;
  }
}


@media screen and (max-width: 500px) {
  .carousel-inner,.carousel,.item,.fill {
    max-height: 13em;
  }
}
/* Footer Area */

.footer {
  background-color: #202020;
  border-top: 3px solid #ff8400;
  color: white;
  margin-bottom: 1.5em;
}
.footer-body {
  display: flex;
  justify-content: space-around;
}
.social-media-title , .twitter-title , .contact-title {
  text-decoration: underline;
}
.social-media-desc , .contact-email , .contact-phone {
  font-weight: lighter;
}
.twitter-icon {
  margin-left: 1em;
  margin: auto;
}
.contact-email-link, .contact-phone-link{
  color: #ff8400;
}
.footer-nav p {
  padding-bottom: 1em;
  text-decoration: none;
  margin-left: 2em;
}
.footer-nav a {
  text-decoration: none;
  color: white;
}
.footer-nav a:hover {
  color: #ff8400;
}

/* Footer Media Queries */

@media screen and (max-width: 768px) {
  .footer div {
    width: 80%;
    display: block;
    margin: auto;
  }
  .footer-body p {
    text-align: center;
  }
  .icons {
    margin: auto;
    width: 3.9em !important;
  }
}

@media screen and (max-width: 393px) {
  .footer-nav p {
    font-size: 1em;
    margin-left: 0
    text-align: center;
  }
  .footer-nav p a {
    font-size: 1em;
  }
}

/* Slider CSS */

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
.owl-carousel .owl-animated-in {
  z-index: 0; }
.owl-carousel .owl-animated-out {
  z-index: 1; }
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

/*
 *  Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  display: none;
}
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/*
 *  Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #666666;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  margin: 5px 7px;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  width: 10px;
  height: 10px;
  background: #666666;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #fe8300;
}

/* ScrollSpy */
