$primaryColor: #fe8300
$secondaryColor: #666666
$mainText: "Lato"
$secondaryText: "Open Sans"

/* ===== GENERAL ======= */

body
	font-size: 16px
	font-family: $mainText
	margin: 0
	color: #666666
	background-color: #f5f5f5
	position: relative

/* ===== GLOBAL ======== */

h1, h2, h3, h4, h5, h6
	-webkit-font-smoothing: antialiased
	text-rendering: optimizelegibility
	font-weight: bold
	font-family: $mainText

p.lead
	font-weight: normal
a
	text-decoration: none
	color: $primaryColor
	margin: 0
a:hover, a:focus
	text-decoration: none
	color: darken($primaryColor, 20%)
i.fa
	color: $primaryColor
button, input, .btn, a.btn 
	-webkit-font-smoothing: antialiased
	text-rendering: optimizelegibility
.btn
	font-weight: bold
.btn-danger
	background-color: $primaryColor
	border-color: $primaryColor
.btn-danger:hover, .btn-danger:focus
	background-color: darken($primaryColor, 20%)
	border-color: darken($primaryColor, 20%)
img
	max-width: 100%
.section-header
	text-align: center
.body-text
	text-align: center
article
	padding: 40px 0
hr
	margin-top: 40px

/* ====== Navigation ======== */

.navbar-brand
	padding: 7.5px 15px
	h2
		margin: 0
		span
			font-size: 12px
			color: $primaryColor
/* ====== HERO ========= */

#hero
	background-image: url("../images/header-bg.png")
	background-size: cover
	height: 40em
#hero div
	text-align: center
	top: 14em
#hero p
	color: white
	font-size: 1.125em
#hero h2
	color: $primaryColor
	font-family: $secondaryText
#header p
	font-size: 1.125em
	color: white
	margin: 0
	&:nth-child(2)
		font-size: 2em
		color: $primaryColor
		font-family: "Open Sans"
		font-weight: bold

/** Content Area */

#content
	margin-top: -3.5em
	background-color: white
	border-top: 3px solid #ff8400

/* ====== My Work ====== */

#my-work #projects
	margin-top: 30px

/* Footer Area */

footer
	background-color: #202020 !important
	border-top: 3px solid #ff8400
	color: white
	clear: both
	padding-bottom: 20px
	.social-icons
		text-align: center
i.fa.fa-twitter
	color: #00aced
	margin-left: 10px
i.fa.fa-linkedin-square
	color: #007bb6

.footer-nav
	p
		padding-bottom: 1em
		text-decoration: none
		margin-left: 2em

	a
		text-decoration: none
		color: white

		&:hover
			color: #ff8400